{% block content %}

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h2 class="text-center">Iniciar sesión</h2>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'custom_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <button type="submit" class="btn btn-danger btn-block">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

